* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%; /* Ensure body takes full height */
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/gallery.jpeg') no-repeat center center fixed;
    background-size: cover; /* Ensures background image covers the whole page */
    color: #0a0742;
    display: flex;
    flex-direction: column; /* Make body a flex container */
}

header {
    background-color: #0a0742;
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.content {
    padding: 50px 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* White background with 90% opacity */
    border-radius: 8px;
    color: #0a0742;
    max-width: 1200px; /* Make the white box larger */
    width: 90%; /* Ensure the white box takes up most of the page width */
    margin: 20px auto; /* Center the content with some space above and below */
    flex: 1; /* Allow content to grow */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.content h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #0a0742;
}

.video-container {
    display: flex;
    justify-content: center; /* Center the video */
    align-items: center;
    height: 600px; /* Increase height of video container */
    width: 100%; /* Full width */
    max-width: 100%; /* Ensure the video container stretches the full width */
    margin: auto;
}

iframe {
    width: 100%; /* Ensure iframe takes full width of the container */
    height: 100%; /* Ensure iframe takes full height of the container */
    border: none; /* Remove any default border */
}

footer {
    background-color: #0a0742;
    color: white;
    text-align: center;
    padding: 20px;
}
